<!DOCTYPE html>
<html>
    <head>
        <title>Ticket Data</title>
    </head>
    <body>
        <form action="/" method="post">
            <label for="date">Date</label>
            <input type="text" id="date" name="date">

            <input type="submit">
        </form>
        {% if info.valid %}
        <h1>Ticket Data [{{info.date}}]</h1>
        <table>
            <tr>
                <th>Customer Name</th>
                <th>Departure City</th>
                <th>Arrival City</th>
                <th>Seat Category</th>
            </tr>
            {% for e in info.data %}
            <tr>
                {% for d in e %}
                <td>{{d}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>