<!DOCTYPE html>
<html>
    <head>
        <title>Booking Confirmation</title>
    </head>
    <body>
        {% if valid %}
        <h1>Successful booking</h1>
        <p><strong>Name:</strong>{{valid.name}}</p>
        <p><strong>Email:</strong>{{valid.email}}</p>
        <br>
        <p><strong>Show:</strong>{{valid.concert}}</p>
        <p><strong>Artiste:</strong>{{valid.artiste}}</p>
        <p><strong>Qty of tickets:</strong>{{valid.qty}}</p>
        <p><strong>Total cost:</strong>{{valid.qty}} x ${{valid.price}} = {{valid.total}}</p>
        {% else %}
        <h1>'Invalid account.'</h1>
        {% endif %}
    </body>
</html>