<!DOCTYPE html>
<html>

    <body>

        <form action="/" method="POST">
            <label>Filter Student: </label>
            <select name="student_name">
                {% for student in student_list %}
                <option value="{{student}}">{{student}}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>

        <br>
        
        <table border="1" style="border-collapse:collapse">

            <thead>
                <tr>
                    <th style="border:1px solid black;text-align:center">Student ID</th>
                    <th style="border:1px solid black;text-align:center">Student Name</th>
                    <th style="border:1px solid black;text-align:center">Subject 1</th>
                    <th style="border:1px solid black;text-align:center">Grade</th>
                    <th style="border:1px solid black;text-align:center">Subject 2</th>
                    <th style="border:1px solid black;text-align:center">Grade</th>
                    <th style="border:1px solid black;text-align:center">Subject 3</th>
                    <th style="border:1px solid black;text-align:center">Grade</th>
                    <th style="border:1px solid black;text-align:center">Subject 4</th>
                    <th style="border:1px solid black;text-align:center">Grade</th>
                    <th style="border:1px solid black;text-align:center">Subject 5</th>
                    <th style="border:1px solid black;text-align:center">Grade</th>
                </tr>
            </thead>

            <tbody>
                {% for result in results %} 
                <tr>
                    <td style="border:1px solid black;text-align:center">{{result[0]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[1]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[2]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[3]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[4]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[5]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[6]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[7]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[8]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[9]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[10]}}</td>
                    <td style="border:1px solid black;text-align:center">{{result[11]}}</td>
                </tr>
                {% endfor %} 
            </tbody>

        </table>
    </body>
</html>